with_vendors/node_modules
with_vendors/public/hot
with_vendors/public/storage
with_vendors/storage/*.key
with_vendors/.env.backup
with_vendors/.phpunit.result.cache
with_vendors/Homestead.json
with_vendors/Homestead.yaml
with_vendors/npm-debug.log
with_vendors/yarn-error.log
no_vendors/node_modules
no_vendors/public/hot
no_vendors/public/storage
no_vendors/storage/*.key
no_vendors/.env.backup
no_vendors/.phpunit.result.cache
no_vendors/Homestead.json
no_vendors/Homestead.yaml
no_vendors/npm-debug.log
no_vendors/yarn-error.log
